# .gitignore

# Ignore vim swap files.
*.swp

# Ignore SCons support files.
.sconsign.dblite

# Ignore python compiled files.
*.pyc

# Ignore Macintosh Desktop Services Store files.
.DS_Store

# Ignore backup/temps
*~

# Ignore object files.
*.o
build
tags
bin/rippled
Debug/*.*
Release/*.*

# Ignore locally installed node_modules
/node_modules

# Ignore tmp directory.
tmp

# Ignore database directory.
db/*.db
db/*.db-*

# Ignore debug logs
debug_log.txt

# Ignore customized configs
rippled.cfg
validators.txt
test/config.js

# Doxygen generated documentation output
HtmlDocumentation

# Xcode user-specific project settings
# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap

# Intel Parallel Studio 2013 XE
My Amplifier XE Results - RippleD

# KeyvaDB files
*.key
*.val

# Compiler intermediate output
/out.txt

# Build Log
rippled-build.log
.vagrant/
vagrant/debug.log
vagrant/debug-private-ledger.log
vagrant/debug-public-ledger.log
/Builds/VisualStudio2013/libsodium.dll
/Builds/VisualStudio2013/local.cfg
/Builds/VisualStudio2013/production.cfg
/Builds/VisualStudio2013/ripple.sdf
/Builds/VisualStudio2013/ripple.v12.suo
/Builds/VisualStudio2013/rippled.cfg
/Builds/VisualStudio2013/RippleD.vcxproj.user
/Builds/VisualStudio2013/stellar.opensdf
/Builds/VisualStudio2013/stellar.sdf
/Builds/VisualStudio2013/stellar.v12.suo
/Builds/VisualStudio2013/debug.log
/Builds/VisualStudio2013/x64
/Builds/VisualStudio2013/Debug
/Builds/VisualStudio2013/db
/src/beast/Builds/VisualStudio2013/Debug
/src/beast/Builds/VisualStudio2013/x64
